div{
    display: flex;
    justify-content: center;
    align-items: center;
}    

div input{
    margin: 15px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th,td, tr{
    padding: 1rem;
}

div input[type="text"]{
    width: 300px;
    height: 25px;
    padding: 5px;
}

div input[type="button"]{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: .25rem;
    text-align: center;
    cursor: pointer;
    padding: .325rem;
}